/*********************************/
/* HEADER */
/*********************************/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fdf2e9;
	height: 6rem;
	padding: 0 2.75rem;
	position: relative;
}

.logo {
	height: 1.375rem;
}

/*********************************/
/* NAVIGATION */
/*********************************/

.main-nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	color: #333;
	font-weight: 500;
	font-size: 1.125rem;
	transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
	color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
	padding: 0.75rem 2.4rem;
	border-radius: 9px;
	color: #fff;
	background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
	background-color: #cf711f;
}
/* MOBILE */

.btn-mobile-nav {
	border: none;
	background: none;
	cursor: pointer;

	display: none;
}

.icon-mobile-nav {
	height: 3rem;
	width: 3rem;
	color: #333;
}

.icon-mobile-nav[name="close-outline"] {
	display: none;
}

/*********************************/
/* STICKY NAVIGATION */
/*********************************/

.sticky .header {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 5rem;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #fff;
	z-index: 9999;
	box-shadow: 0 0.75rem, 2rem rgba(0, 0, 0, 0.06);
}

.sticky .section-hero {
	margin-top: 6rem;
}

/*********************************/
/* HERO SECTION */
/*********************************/

.section-hero {
	background-color: #fdf2e9;
	padding: 2.75rem 0 6rem 0;
}

.hero {
	max-width: 81.25rem;
	margin: 0 auto;
	padding: 0 2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 6rem;
	align-items: center;
}

.hero-description {
	font-size: 1.25rem;
	line-height: 1.6;
	margin-bottom: 2.75rem;
}

.hero-img {
	width: 100%;
}

.delivered-meals {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-top: 5rem;
}

.delivered-imgs {
	display: flex;
}

.delivered-imgs img {
	height: 2.75rem;
	width: 2.75rem;
	border-radius: 50%;
	margin-right: -1rem;
	border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
	margin: 0;
}

.delivered-text {
	font-size: 1.125rem;
	font-weight: 600;
}

.delivered-text span {
	color: #cf711f;
	font-weight: 700;
}

/*********************************/
/* FEATURED IN */
/*********************************/

.section-featured {
	padding: 2.75rem 0 2rem 0;
}

.heading-featured-in {
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 1.5rem;
	color: #999;
}

.logos {
	display: flex;
	justify-content: space-around;
}
.logos img {
	height: 2rem;
	filter: brightness(0%);
	opacity: 50%;
}

/*********************************/
/* HOW IT WORKS SECTION */
/*********************************/

.section-how {
	padding: 6rem 0;
}

.step-number {
	font-size: 5.375rem;
	font-weight: 600;
	color: #ddd;
	margin-bottom: 0.75rem;
}

.step-description {
	font-size: 1.125rem;
	line-height: 1.8;
}

.step-img-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.step-img-box:before,
.step-img-box:after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.step-img-box:before {
	width: 60%;
	padding-bottom: 60%;
	background-color: #fdf2e9;
	z-index: -2;
}

.step-img-box:after {
	width: 45%;
	padding-bottom: 50%;
	background-color: #fae5d3;
	z-index: -1;
}
.step-img {
	width: 35%;
}

/*********************************/
/* MEALS SECTION */
/*********************************/

.section-meals {
	padding: 6rem 0;
}

.meal {
	box-shadow: 0 1.5rem 2.75rem rgba(0, 0, 0, 0.075);
	border-radius: 11px;
	overflow: hidden;
	transition: all 0.4s;
}

.meal:hover {
	transform: translateY(-0.75rem);
	box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
	padding: 2rem 2.75rem 2.75rem 2.75rem;
}

.meal-tags {
	margin-bottom: 0.75rem;
	display: flex;
	gap: 0.4rem;
}

.tag {
	display: inline-block;
	padding: 0.25rem;
	font-size: 0.75rem;
	text-transform: uppercase;
	color: #333;
	border-radius: 100px;
	font-weight: 600;
}

.tag--vegetarian {
	background-color: #51cf66;
}

.tag--paleo {
	background-color: #ffd43b;
}

.tag--vegan {
	background-color: #98d82d;
}

.meal-title {
	font-size: 1.5rem;
	color: #333;
	font-weight: 600;
	margin-bottom: 2rem;
}

.meal-attributes {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.meal-attribute {
	font-size: 1.125rem;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.meal-icon {
	height: 1.5rem;
	width: 1.5rem;
	color: #e67e22;
}

.meal-img {
	width: 100%;
}

.all-recipes {
	text-align: center;
	font-size: 1.125rem;
}

/*********************************/
/* TESTIMONIALS SECTION */
/*********************************/

.section-testimonials {
	background-color: #fdf2e9;
	display: grid;
	grid-template-columns: 55fr 45fr;
	align-items: center;
}

.testimonials-container {
	padding: 6rem;
}

.testimonials {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 2.75rem;
	column-gap: 5rem;
}

.testimonial-img {
	width: 4rem;
	border-radius: 50%;
	margin-bottom: 0.75rem;
}

.testimonial-text {
	font-size: 1.125rem;
	line-height: 1.8;
	margin-bottom: 1rem;
}

.testimonial-name {
	font-size: 1rem;
	color: #6f6f6f;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding: 1rem;
}

.gallery-item {
	overflow: hidden;
}

.gallery-item img {
	display: block;
	width: 100%;
	transition: all 0.4s;
}

.gallery-item img:hover {
	transform: scale(1.1);
}

/*********************************/
/* Pricing SECTION */
/*********************************/

.section-pricing {
	padding: 6rem 0;
}

.pricing-plan {
	border-radius: 11px;
	width: 75%;
}

.pricing-plan--complete {
	background-color: #fdf2e9;
	padding: 2.75rem;
	position: relative;
	overflow: hidden;
}

.pricing-plan--complete::after {
	content: "Best value";
	position: absolute;
	top: 6%;
	right: -36%;
	background-color: #ffd43b;
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: 700;
	padding: 0.5rem 8rem;
	color: #333;
	transform: rotate(45deg);
}
.pricing-plan--starter {
	justify-self: end;
	border: 2px solid #fdf2e9;
	padding: 2.875rem;
}

.plan-header {
	text-align: center;
	margin-bottom: 2.75rem;
}

.plan-name {
	color: #cf711f;
	font-weight: 600;
	font-size: 1.25rem;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	margin-bottom: 2rem;
}

.plan-price {
	font-size: 3.875rem;
	font-weight: 600;
	color: #333;
	margin-bottom: 1rem;
}

.plan-price span {
	font-size: 1.875rem;
	font-weight: 500;
	margin-right: 0.5rem;
}

.plan-text {
	font-size: 1rem;
	line-height: 1.6;
	color: #6f6f6f;
}

.plan-sign-up {
	text-align: center;
	margin-top: 2.75rem;
}

.plan-details {
	font-size: 1rem;
	line-height: 1.6;
	text-align: center;
}

/*********************************/
/* Pricing SECTION */
/*********************************/

.feature-icon {
	color: #e67e22;
	height: 2rem;
	width: 2rem;
	margin-bottom: 2rem;
	background-color: #fdf2e9;
	padding: 1rem;
	border-radius: 50%;
}

.feature-title {
	font-size: 1.5rem;
	color: #333;
	font-weight: 700;
	margin-bottom: 1rem;
}

.feature-text {
	font-size: 1.125rem;
	line-height: 1.8;
}

/*********************************/
/* CTA SECTION */
/*********************************/

.section-cta {
	padding: 2.75rem 0 8rem;
}

.cta {
	display: grid;
	grid-template-columns: 2fr 1fr;
	box-shadow: 0 1.5rem 2.75rem rgba(0, 0, 0, 0.075);
	border-radius: 11px;
	background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
	overflow: hidden;
}

.cta-text-box {
	padding: 2.75rem 4rem 4rem 4rem;
	color: #45260a;
}

.cta-text {
	font-size: 1.125rem;
	line-height: 1.8;
	margin-bottom: 2.75rem;
}

.cta .heading-secondary {
	color: #45260a;
	margin-bottom: 2rem;
}

.cta-img-box {
	background-image: linear-gradient(to right bottom, rgba(235, 150, 76, 0.35), rgba(230, 125, 34, 0.35)), url("../img/eating.jpg");
	background-size: cover;
	background-position: center;
}

.cta-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
	row-gap: 1.5rem;
}

.cta-form label {
	display: block;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 0.75rem;
}

.cta-form input {
	width: 100%;
	padding: 0.75rem;
	font-size: 1.125rem;
	font-family: inherit;
	color: inherit;
	border: none;
	background-color: #fdf2e9;
	border-radius: 9px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
	color: #aaa;
}

.cta-form select {
	width: 100%;
	padding: 0.75rem;
	font-size: 1.125rem;
	font-family: inherit;
	border: none;
	color: inherit;
	background-color: #fdf2e9;
	border-radius: 9px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/*********************************/
/* FOOTER SECTION */
/*********************************/

.footer {
	padding: 8rem 0;
	border-top: 1px solid #eee;
}

.grid--footer {
	grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
	display: flex;
	flex-direction: column;
}

.footer-logo {
	display: block;
	margin-bottom: 2rem;
}

.social-links {
	list-style: none;
	display: flex;
	gap: 1.5rem;
}

.social-icon {
	height: 1.5rem;
	width: 1.5rem;
}
.copyright {
	font-size: 0.875rem;
	color: #767676;
	margin-top: auto;
}

.footer-heading {
	font-size: 1.125rem;
	font-weight: 500;
	margin-bottom: 2.5rem;
}

.contacts {
	font-style: normal;
	font-size: 1rem;
	line-height: 1rem;
}

.address {
	margin-bottom: 1.5rem;
	color: #767676;
}

.footer-nav {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.footer-link:link,
.footer-link:visited {
	text-decoration: none;
	font-size: 1rem;
	color: #767676;
	transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
	color: #555;
}
